<h1>Posts will appear here</h1>
<div class="posts-wrapper">
  <div *ngFor="let post of instaData" class="card post">
    <div class="post-header">
      <h6 class="post-title">{{ post.username }}</h6>
      <h6 class="post-date">
        {{ post.timestamp | date : 'MMM d, yy, h:mm a' }}
      </h6>
    </div>

    <p>{{ post.caption }}</p>
    <div [ngSwitch]="post.media_type">
      <div class="post-files">
        <img *ngSwitchCase="'IMAGE'" class="post-file" [src]="post.media_url" />
        <video
          *ngSwitchCase="'VIDEO'"
          class="post-file"
          [src]="post.media_url"
          controls
        ></video>
      </div>

      <div *ngSwitchCase="'CAROUSEL_ALBUM'" class="post-files">
        <div *ngFor="let file of post.children.data">
          <img
            *ngIf="file.media_type === 'IMAGE'"
            class="post-file"
            [src]="file.media_url"
          />
          <video
            class="post-file"
            *ngIf="file.media_type === 'VIDEO'"
            [src]="file.media_url"
            controls
          ></video>
        </div>
      </div>
    </div>
  </div>
</div>
